.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(97, 84, 9);
}

button {
  width: 250px;
  height: auto;
  background-color: rgb(97, 84, 9);
  border-radius: 5px;
  font-size: xx-large;
  color: white;
}
button:hover {
  cursor: pointer;
}
